#Function

1. input--->proccess---> output

    process-> set of instruction
2. reusable

In [2]:
def greet(user):
    print(f"hello {user}")

In [3]:
greet("adil")

hello adil

In [5]:
def sqr_add (a,b):
  a=a**2
  b=b**2
  print(a+b)

In [7]:
ans=sqr_add(10,20)+10

500

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [8]:
def sqr_add (a,b):
  a=a**2
  b=b**2
  return(a+b)

In [11]:
ans=sqr_add(10,20)+10
print(ans)

510

**positional argument and key word argument**

In [12]:
def square_addition(a,b,c):
    print(f"{a} {b} {c}")
    a=a**2
    b= b**2
    return a+b+c
#positional argument
ans = square_addition(10,20,30) + 10
print(ans)

#keyword argument
ans = square_addition(b=10,c=20,a=30) + 10
print(ans)

10 20 30
540
30 10 20
1030

**Varriable size argument**

tuple akare thke

In [13]:
def square_addition(a,b,c):
    a=a**2
    b= b**2
    c= c**2
    return a+b+c

In [15]:
ans = square_addition(10,20,30,40, 50)

TypeError: square_addition() takes 3 positional arguments but 5 were given

In [23]:
def square_addition(*args):
   sum=0
   for i in args:
    i=i**2
    sum+=i
   return sum

In [24]:
ans = square_addition(10,20,30,40,50)
print (ans)

5500

**keyword Argument**

dict akare thke

In [22]:
def student(**kwargs):
    for key,val in kwargs.items():
        print(f"{key} : {val}")
student(name = "adil" , cls =10 , roll=30 , marks = 30.5)

name : adil
cls : 10
roll : 30
marks : 30.5

**return**

In [25]:
def give_prediction():
    return 10

type(give_prediction())

int

In [26]:
def give_prediction():
    return 10.5

type(give_prediction())

float

In [27]:
def give_prediction():
    return "name"

type(give_prediction())

str

In [28]:

def give_prediction(a,b):

    return a,b

type(give_prediction(10,30))

print(give_prediction(10,30))

## unpacking

x , y = give_prediction(10,30)

print(x,y)

(10, 30)
10 30

In [33]:

def give_prediction():

    a= [10,20,30]
    b= [20,30,40]
    return a,b

print(type(give_prediction()))

## unpacking
x , y = give_prediction()

print(x)
print(y)

<class 'tuple'>
[10, 20, 30]
[20, 30, 40]

In [32]:

def give_prediction():

    a= {10,20,30}
    b = [100,200,300]
    return a,b

x = give_prediction()

print(type(x))

for item in x:
    print(item)

<class 'tuple'>
{10, 20, 30}
[100, 200, 300]

In [31]:
def give_prediction():
    return { "name" : "adil" , "addr" : "Ctg"},{ "name" : "abrar" , "addr" : "dhaka"}


x,y = give_prediction()

print(type(x))


for item in x.items():
    print(item)

<class 'dict'>
('name', 'adil')
('addr', 'Ctg')

**iterator**

In [34]:

s = {10 , 20 , 30 , 40 , 50 }

s_iter = iter(s)
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))

for i in s:
    print(i)

50
20
40
10
30
50
20
40
10
30

***generator***

In [35]:

lst = [ x for x in range(500) ] # dataset

def data_loader(chunk_size,lst):
    for i in range(0,len(lst),chunk_size):
        yield lst[i:i+chunk_size]


x = data_loader(5,lst)

print(next(x))
print(next(x))

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]

**Lambda function**

1. special function
2. anonymous
3. inline

lambda variable: expression

In [36]:
sq_add= lambda x,y: x**2+y**2
print(sq_add(2,3))

13

In [37]:
if_even=lambda x: x%2==0
print(if_even(10))

True

**map**

prottek ta iterable er prottek value er upr ekti niddrishto function apply kore

In [38]:
lst = [ 1 ,2 ,3 ,4 ,5 ,6 ]

def square(x):
    return x**2

lst = list(map(square ,lst))

print(lst)

[1, 4, 9, 16, 25, 36]

In [40]:
# string

string = "hello world, welcome to the age of AI"
string1 = list(map(str.upper , string))
print(string1)
string1 = "".join(string1)
print(string1)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D', ',', ' ', 'W', 'E', 'L', 'C', 'O', 'M', 'E', ' ', 'T', 'O', ' ', 'T', 'H', 'E', ' ', 'A', 'G', 'E', ' ', 'O', 'F', ' ', 'A', 'I']
HELLO WORLD, WELCOME TO THE AGE OF AI

In [41]:
# map with lambda function
lst = [ 1 ,2 ,3 ,4 ,5 ,6 ]

lst = list(map(lambda x : x**2 if x%2==0 else x ,lst))

print(lst)

[1, 4, 3, 16, 5, 36]

**filter**
1. data filter kore dei

In [44]:
numbers = [x for x in range(100)]


# even

even = list(filter( lambda x : x % 2 ==0,numbers))

print(even)



fifty_upper = list(filter( lambda x : x >50,numbers))
print(fifty_upper)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [45]:
data = [0, 1, '',None, 'Hello', [], [1, 2], None, True, False, None]

cleaned_data = list(filter(None, data))

print(cleaned_data)

[1, 'Hello', [1, 2], True]

In [46]:
vowel_ = list(filter( lambda x : x in "AEIOU" , string1))

print(vowel_)

['E', 'O', 'O', 'E', 'O', 'E', 'O', 'E', 'A', 'E', 'O', 'A', 'I']

In [47]:
fruits = [ 'aaa' , 'bb' , 'cccc' , 'ddddd' ]

filtering = list(filter(lambda x: len(x)>2 , fruits))

print(filtering)

['aaa', 'cccc', 'ddddd']

**reduce**

iterable theke  define logic er maddhome result ene dei

In [48]:
from functools import reduce
lst = [ 1 ,2 ,3 ,4 ,5 ,6 ]

summation = reduce(lambda x,y : x+y , lst)

print(summation)

21

In [49]:

lst = [ 1 ,2 ,10,4 ,5 ,6 ]

max_value = reduce( lambda x , y :x if x > y else y ,lst)

print(max_value)

10

In [50]:
lst = [ "hello", "world" , "welcome" ,"to", "programming"]
print(lst)

['hello', 'world', 'welcome', 'to', 'programming']

In [51]:
string = reduce(lambda x,y : x+ " " + y ,lst)
print(string)

hello world welcome to programming

**Quiz explaination**

https://docs.google.com/document/d/14VrGXHKcyBrFfgHi472A7xEnMgcDBpd2KpgB3wmQnWg/edit?tab=t.0#heading=h.bv34pnjrtdox

# Problem Practice


https://docs.google.com/document/d/1FG7x1m8HlN5fXqplroBGLlf9gsIunP78SI_LaYK7Au0/edit?tab=t.0

**L. New Array**

In [52]:
concat_arr=lambda a,b:b+a
n=int(input())
a=list(map(int,input().split()))
b=list(map(int,input().split()))
c=concat_arr(a,b)
print(*c)

2
1 2
3 4
[3, 4, 1, 2]

**J. Average**

In [56]:
n= int (input())
arr = list(map(float,input().split()))
sum=reduce(lambda x,y: x+y,arr)
avg= sum/len(arr)
print(f"{avg:.6f}")

3
1.0 2.0 5.0
2.666667

**G. Max and MIN**

In [57]:
def find_min_max(arr):
    return min(arr), max(arr)

n = int(input())
a = list(map(int, input().split()))

mn, mx = find_min_max(a)
print(mn, mx)

5
10 13 95 1 3
1 95