# Conditional Statement

In [ ]:
raining=True
if raining==True:
  print("Raincoat is needed")
  print("Caution")
else:
  print("No raincoat is needed")
  print("This is a sunny day")

Raincoat is needed
Caution

In [ ]:
raining=True
Muddy =True
if raining==True:
  print("Raincoat is needed")
  print("Caution")
  if Muddy==True:
    print("It is muddy")
  else:
    print("Its not muddy")
else:
  print("No raincoat is needed")
  print("This is a sunny day")

Raincoat is needed
Caution
It is muddy

In [ ]:
taka=1000
if taka>500:
  print("ghurte jbo")
elif taka> 400:
  print ("bashai order")
elif taka>300:
  print("Food court a jbo")
else:
  print("taka save krbo")

ghurte jbo

In [ ]:
taka=1000
raining=True
if taka>500 and raining==False:
  print("ghurte jbo")

else:
  print("taka save krbo")

taka save krbo

# Loop in Python

**For loop**

In [ ]:
for i in range(10):
  print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World

**range (star,end,step)**

kisu na dile (0,n,1)

r jokhon bole dbo like (1,11,2) ...ei khetre 1 theke shuru kre n-1 porjnto jbe and 2 step kre increase hbe

In [ ]:
for i in range(1,11,2):
  print(i,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [ ]:
for i in range (1,10):
  for j in range(1,5):
    print (i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4
5 1
5 2
5 3
5 4
6 1
6 2
6 3
6 4
7 1
7 2
7 3
7 4
8 1
8 2
8 3
8 4
9 1
9 2
9 3
9 4

**While Loop**

In [ ]:
cnt=1
while cnt<10:
  print(cnt, "Hello world")
  cnt+=1
print(cnt)

1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world
10

# Break And Continue

In [ ]:
sum=0
for i in range(1,11):
  if i%2==0:
    continue
  sum+=i
  print(i ," is added to the sum")
print(sum)

1  is added to the sum
3  is added to the sum
5  is added to the sum
7  is added to the sum
9  is added to the sum
25

In [ ]:
accuracy=95
while True:
  if accuracy==100:
    break
  accuracy+=1
  print(accuracy)

96
97
98
99
100

# K. Max and Min

In [ ]:
a, b, c = map(int, input().split())
min=a
max=a
if b<min:
  min=b
if c<min:
  min =c

if b>max:
  max=b
if c>max:
  max=c

print(min,max)

1 2 3
1 3

#C. Even, Odd, Positive and Negative

In [ ]:
n = int(input())
inp = input()
nums = inp.split()

pos = 0
neg = 0
ev = 0
odd = 0

for i in range(n):
    x = int(nums[i])
    if x > 0:
        pos += 1
    elif x < 0:
        neg += 1
    if x % 2 == 0:
        ev += 1
    else:
        odd += 1

print("Even:", ev)
print("Odd:", odd)
print("Positive:", pos)
print("Negative:", neg)

5
-5 0 -3 -4 12
Even: 3
Odd: 2
Positive: 1
Negative: 3

# Q. Digits

In [1]:
t=int(input())
for i in range(t):
  num=int (input())

  if num==0:
    print(0)
    continue
  while num>0:
   rem=num%10
   print(rem,end=" ")
   num//=10
  print()

1 2 1
9 3
0 0 2 1
0 5 1