In [ ]:
# --- DEMO: Core types & literals ---
x = 42                 # int
y = 3.14               # float
z = "hello"            # str
t = True               # bool
lst = [[1, 2, 3, ["Arif", "Rahul", 3.5, 100*2], 4], [10 , 20, 30]]
ls2D =[ [1, 2, 3],[4, 5, 6] ]     # list (mutable)
tpl = (1, 2, 3, [1, 2, 3], "Arif")        # tuple (immutable)
dct = {"a": 1, "b": 2, "a": 3} # dict (mapping)
st = {1, 2, 2, 3, "Arif"}      # set (unique)
lst.append(10)

print(dct)
print(ls2D)
print(tpl)
print(st)
print(type(x), type(y), type(z), type(lst), type(tpl), type(dct), type(st))

{'a': 3, 'b': 2}
[[1, 2, 3], [4, 5, 6]]
(1, 2, 3, [1, 2, 3], 'Arif')
{1, 2, 3, 'Arif'}
<class 'int'> <class 'float'> <class 'str'> <class 'list'> <class 'tuple'> <class 'dict'> <class 'set'>

In [ ]:
# --- DEMO: Slicing sequences ---
nums = [10, 20, 30, 40, 50, 60]
print(nums[1:4])   # middle slice
print(nums[-3:])   # last 3
print(nums[::2])   # step slice
print(nums[::-1])  # reverse
print(nums[:-3])

[20, 30, 40]
[40, 50, 60]
[10, 30, 50]
[60, 50, 40, 30, 20, 10]
[10, 20, 30]

In [ ]:
# --- DEMO: Truthiness ---
samples = [0, 1, "", "text", [], [1], {}, {"k": 1}, None]
for item in samples:
    if item:
        print(repr(item), "→ Truthy")
    else:
        print(repr(item), "→ Falsy")

# --- DEMO: f-strings ---
name = "John"
score = 95
print(f"{name} scored {score}% (next: {score + 1}%)")

0 → Falsy
1 → Truthy
'' → Falsy
'text' → Truthy
[] → Falsy
[1] → Truthy
{} → Falsy
{'k': 1} → Truthy
None → Falsy
John scored 95% (next: 96%)

In [ ]:
# --- DEMO: Nested data structures ---
data = {
    "user": {
        "name": "Alice",
        "id": 123,
        "contact": {
            "email": ["alice@example.com", "abc@edu.com"],
            "phone": "555-1234"
        }
    },
    "items": [
        {"name": "Laptop", "price": 1200},
        {"name": "Keyboard", "price": 75}
    ]
}

print("User Name:", data["user"]["name"])
print("First Item Price:", data["items"][0]["price"])
print("User Email:", data["user"]["contact"]["email"][1])

User Name: Alice
First Item Price: 1200
User Email: abc@edu.com

#Problem: Analyze Order Data
Given the following nested dictionary representing a customer order, extract and print the following information:



1.   The customer's full name.
2.   The total price of all items in the order.
3. A list of the names of all items in the orde

In [1]:
order_data = {
    "customer": {
        "first_name": "Bob",
        "last_name": "Johnson"
    },
    "items": [
        {"item_name": "Book",
         "price": 25.99
         },
        {"item_name": "Notebook",
         "price": 4.50
         },
        {"item_name": "Pen",
         "price": 1.20
         }
    ]
}

# 1. Customer's full name
full_name = f"{order_data['customer']['first_name']} {order_data['customer']['last_name']}"
print("Customer Full Name:", full_name)

# 2. Total price of all items
total_price = sum(item["price"] for item in order_data["items"])
print("Total Order Price:", total_price)

# 3. List of item names
item_names = [item["item_name"] for item in order_data["items"]]
print("Item Names:", item_names)

Customer Full Name: Bob Johnson
Total Order Price: 31.689999999999998
Item Names: ['Book', 'Notebook', 'Pen']

# Exercises (quick checks)
* E1.1: Slice mylist = [1,2,3,4,5,6,7,8] to get the even-indexed items.
* E1.2: Using f‑strings, print: "User: <your name>, Items: <count>" where count is the length of a list.
* Stretch: Create a dict and print a sentence using f‑strings that references two keys.

In [ ]:

# TODO E1.1
mylist = [1, 2, 3, 4, 5, 6, 7, 8]
even_indexed = mylist[::2]
print(even_indexed)


# TODO E1.2
user = "Rifat"
mylist = [1, 2, 3, 4, 5]

print(f"User: {user}, Items: {len(mylist)}")


# TODO Stretch

person = {
    "name": "Rifat",
    "age": 21
}

print(f"My name is {person['name']} and I am {person['age']} years old.")

[1, 3, 5, 7]
User: Rifat, Items: 5
My name is Rifat and I am 21 years old.

# 2) Control Flow & Comprehensions

Topics: if/elif/else, loops, list/dict/set comprehensions

In [ ]:
# --- DEMO: Control flow ---
for i in range(10, 51):
    if i == 0:
        label = "zero"
    elif i % 2 == 0:
        label = "even"
    else:
        label = "odd"
    print(i, "→", label)

10 → even
11 → odd
12 → even
13 → odd
14 → even
15 → odd
16 → even
17 → odd
18 → even
19 → odd
20 → even
21 → odd
22 → even
23 → odd
24 → even
25 → odd
26 → even
27 → odd
28 → even
29 → odd
30 → even
31 → odd
32 → even
33 → odd
34 → even
35 → odd
36 → even
37 → odd
38 → even
39 → odd
40 → even
41 → odd
42 → even
43 → odd
44 → even
45 → odd
46 → even
47 → odd
48 → even
49 → odd
50 → even

In [ ]:
for i in range(5):
  for j in range(5):
    print(i)
    print(j)

0
0
0
1
0
2
0
3
0
4
1
0
1
1
1
2
1
3
1
4
2
0
2
1
2
2
2
3
2
4
3
0
3
1
3
2
3
3
3
4
4
0
4
1
4
2
4
3
4
4

In [ ]:
# --- DEMO: Comprehensions ---
temp = [35, 40, 28, 32, 30]

farhen = [item*(9/5)+32 for item in temp]
print(f"First {farhen}")

farhen1 = [item*(9/5)+32 for item in temp if item % 2 == 0]
print(farhen1)

for item in temp:
  print(item*(9/5)+32)

squares = [x**2 for x in range(6)]

evens = [x for x in range(20) if x % 2 == 0]

square_map = {x: x**2 for x in range(5)}

unique_initials = {item[0].lower() for item in ["Alice", "Bob", "alex", "Beta"]}

print(f"Square is : {squares}")
print(f"even: {evens}")
print(f"smap: {square_map}")
print(f"ui : {unique_initials}")

First [95.0, 104.0, 82.4, 89.6, 86.0]
[104.0, 82.4, 89.6, 86.0]
95.0
104.0
82.4
89.6
86.0
Square is : [0, 1, 4, 9, 16, 25]
even: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
smap: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
ui : {'a', 'b'}

In [ ]:
nested_squares = [[x**2 for x in range(i, i+5) if x % 2 == 0] for i in range(1, 10, 3)]
print("Nested Squares:", nested_squares)

Nested Squares: [[4, 16], [16, 36, 64], [64, 100]]

In [ ]:
# --- DEMO: Nested Comprehensions and Conditional Logic ---
# Create a list of lists where inner lists contain squares of even numbers
nested_squares = [[x**2 for x in range(i, i+5) if x % 2 == 0] for i in range(1, 10, 3)]
print("Nested Squares:", nested_squares)

# Create a dictionary mapping numbers to a description based on conditions
number_descriptions = {
    num: ("Even and divisible by 3" if num % 2 == 0 and num % 3 == 0
          else "Even" if num % 2 == 0
          else "Odd and divisible by 3" if num % 3 == 0
          else "Odd")
    for num in range(1, 100)
}
print("Number Descriptions:", number_descriptions)

Nested Squares: [[4, 16], [16, 36, 64], [64, 100]]
Number Descriptions: {1: 'Odd', 2: 'Even', 3: 'Odd and divisible by 3', 4: 'Even', 5: 'Odd', 6: 'Even and divisible by 3', 7: 'Odd', 8: 'Even', 9: 'Odd and divisible by 3', 10: 'Even', 11: 'Odd', 12: 'Even and divisible by 3', 13: 'Odd', 14: 'Even', 15: 'Odd and divisible by 3', 16: 'Even', 17: 'Odd', 18: 'Even and divisible by 3', 19: 'Odd', 20: 'Even', 21: 'Odd and divisible by 3', 22: 'Even', 23: 'Odd', 24: 'Even and divisible by 3', 25: 'Odd', 26: 'Even', 27: 'Odd and divisible by 3', 28: 'Even', 29: 'Odd', 30: 'Even and divisible by 3', 31: 'Odd', 32: 'Even', 33: 'Odd and divisible by 3', 34: 'Even', 35: 'Odd', 36: 'Even and divisible by 3', 37: 'Odd', 38: 'Even', 39: 'Odd and divisible by 3', 40: 'Even', 41: 'Odd', 42: 'Even and divisible by 3', 43: 'Odd', 44: 'Even', 45: 'Odd and divisible by 3', 46: 'Even', 47: 'Odd', 48: 'Even and divisible by 3', 49: 'Odd', 50: 'Even', 51: 'Odd and divisible by 3', 52: 'Even', 53: 'Odd', 54: 'Even and divisible by 3', 55: 'Odd', 56: 'Even', 57: 'Odd and divisible by 3', 58: 'Even', 59: 'Odd', 60: 'Even and divisible by 3', 61: 'Odd', 62: 'Even', 63: 'Odd and divisible by 3', 64: 'Even', 65: 'Odd', 66: 'Even and divisible by 3', 67: 'Odd', 68: 'Even', 69: 'Odd and divisible by 3', 70: 'Even', 71: 'Odd', 72: 'Even and divisible by 3', 73: 'Odd', 74: 'Even', 75: 'Odd and divisible by 3', 76: 'Even', 77: 'Odd', 78: 'Even and divisible by 3', 79: 'Odd', 80: 'Even', 81: 'Odd and divisible by 3', 82: 'Even', 83: 'Odd', 84: 'Even and divisible by 3', 85: 'Odd', 86: 'Even', 87: 'Odd and divisible by 3', 88: 'Even', 89: 'Odd', 90: 'Even and divisible by 3', 91: 'Odd', 92: 'Even', 93: 'Odd and divisible by 3', 94: 'Even', 95: 'Odd', 96: 'Even and divisible by 3', 97: 'Odd', 98: 'Even', 99: 'Odd and divisible by 3'}

# Problem: Analyze User Order Data

Given a list of user dictionaries, where each user has a list of orders, perform the following analyses:
* Calculate and print the total amount spent by each user.
* Create a list of all order amounts across all users.
* Create a dictionary mapping each user's ID to the number of orders they have placed.

In [ ]:
# --- DEMO: Combining Nested Structures with Control Flow and Comprehensions ---

# Sample data: list of user dictionaries with a list of orders for each user
users_data = [
    {"user_id": 1, "name": "Alice", "orders": [{"order_id": "A1", "amount": 150}, {"order_id": "A2", "amount": 200}]},
    {"user_id": 2, "name": "Bob", "orders": [{"order_id": "B1", "amount": 50}]},
    {"user_id": 3, "name": "Charlie", "orders": []}
]

# Calculate the total amount spent by each user using a loop
print("Total amount spent by each user (using loop):")
for user in users_data:
    total_spent = 0
    for order in user.get("orders", []): # Use .get() for safe access
        total_spent += order.get("amount", 0) # Use .get() for safe access
    print(f"{user.get('name', 'N/A')}: ${total_spent}")

# Get a list of all order amounts across all users using a nested comprehension
all_order_amounts = [order.get("amount", 0) for user in users_data for order in user.get("orders", [])]
print("\nAll order amounts:", all_order_amounts)

# Create a dictionary mapping user_id to the number of orders using a dictionary comprehension
orders_count_by_user = {user.get("user_id"): len(user.get("orders", [])) for user in users_data}
print("Number of orders per user:", orders_count_by_user)

Total amount spent by each user (using loop):
Alice: $350
Bob: $50
Charlie: $0

All order amounts: [150, 200, 50]
Number of orders per user: {1: 2, 2: 1, 3: 0}

#Exercises

* E2.1: From text = "Educating AI with Python", build a list of vowels using a comprehension.
* E2.2: Create a dict mapping numbers 1..5 to "odd"/"even" using a comprehension.
* Stretch: Build a set of unique lowercase letters from a sentence, excluding spaces and punctuation.

In [ ]:
# TODO E2.1

text = "Educating AI with Python"

vowels = [ch for ch in text if ch.lower() in 'aeiou']
print(vowels)

# TODO E2.2

num_dict = {n: ("even" if n % 2 == 0 else "odd") for n in range(1, 6)}
print(num_dict)

# TODO Stretch
sentence = "Educating AI with Python!"

letters = {ch.lower() for ch in sentence if ch.isalpha()}
print(letters)

['E', 'u', 'a', 'i', 'A', 'I', 'i', 'o']
{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}
{'a', 't', 'n', 'w', 'e', 'd', 'p', 'h', 'o', 'y', 'c', 'g', 'u', 'i'}