#Tuple

it stores a collection of data. and it is immutable

In [ ]:
 #declaration
tup=(10,20,30,40)
mix_tup=(10,10.5,"apple")
print(type(tup),tup)
print(mix_tup)
tup1=(10)
print(type(tup1),tup1)
tup2=(10,)
print(type(tup2),tup2)

<class 'tuple'> (10, 20, 30, 40)
(10, 10.5, 'apple')
<class 'int'> 10
<class 'tuple'> (10,)

In [ ]:
#from list to tuple
lst=[10,20,30,40]
tup=tuple(lst)
print(tup)

(10, 20, 30, 40)

In [ ]:
#access and slicing
tupl=(10,20,30,10.5,"str",False)
print(tupl[0])
print(tupl[-1])
print(tupl[1:4])

10
False
(20, 30, 10.5)

In [ ]:
#immutability
lst=[10,20,30]
lst[0]=100
print(lst)
tupl=(10,20,30)
tupl[0]=100
print(tupl)

[100, 20, 30]

TypeError: 'tuple' object does not support item assignment

In [ ]:
#tuple method
tupl=(10,20,30,10,10)
print(tupl.count(10))
print(tupl.index(30))

3
2

#set



1.   Unique elements and no duplicate value
2.   mutable
3.   unorder
4.   no indexing and slicing

In [ ]:
#declaration
A={10,20,30,40}
print(type(A),A)
B={10,20,30,40}
print(B)

<class 'set'> {40, 10, 20, 30}
{40, 10, 20, 30}

In [ ]:
#empty structures
lst=[]
print(type(lst))
tup=()
print(type(tup))
st=set()
print(type(st))
dt={}
print(type(dt))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [ ]:
#accessing
s={1,2,3,4,1,2}
print(s)
if(3 in s):
  print("y")
else:
  print("n")

sm=0
for i in s:
  sm=sm+i
print(sm)

{1, 2, 3, 4}
y
10

**Methods**

https://www.w3schools.com/python/python_ref_set.asp

In [ ]:
#mutability
S={1,2,3,8,7,5}
print(S)
S.add(0)
S.add(10)
print(S)
S.pop()
print(S)
S.pop()
print(S)
S.remove(10)
print(S)

{1, 2, 3, 5, 7, 8}
{0, 1, 2, 3, 5, 7, 8, 10}
{1, 2, 3, 5, 7, 8, 10}
{2, 3, 5, 7, 8, 10}
{2, 3, 5, 7, 8}

In [ ]:
#important methods of set mathmetical
A={1,2,3,4,5}
B={4,5,6,7,8}
D={1,2,3}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(A.isdisjoint(B))
print(A.issubset(B))
print(D.issubset(A))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
False
False
True

#Dictionary

dict should have key and value.

keys must be immutable

In [ ]:
#declaration
dict={}
print(type(dict))
dict1={
    "name":"Ripro",
    "age" :7 ,
    "address" : "Kushtia",
    "number" :[18,14,17.8]

}
print(type(dict1) , dict1)

<class 'dict'>
<class 'dict'> {'name': 'Ripro', 'age': 7, 'address': 'Kushtia', 'number': [18, 14, 17.8]}

In [ ]:
#Access
#dict_name[key]
print(dict1["name"])
print(dict1["number"])
print(dict1["number"][1])
print(dict1.get("age"))
dict1["name"]="Ripro ripu"
print(dict1)
dict1={
    "name":"Ripro",
    "age" :7 ,
    "address" : "Kushtia",
    "number" :[18,14,17.8],
    "age" :4 # changed by latest value

}
print(dict1)

Ripro
[18, 14, 17.8]
14
7
{'name': 'Ripro ripu', 'age': 7, 'address': 'Kushtia', 'number': [18, 14, 17.8]}
{'name': 'Ripro', 'age': 4, 'address': 'Kushtia', 'number': [18, 14, 17.8]}

**Methods**

https://www.w3schools.com/python/python_ref_dictionary.asp

In [ ]:
#printing default values
print(dict1)
print(dict1.get("math_marks"))
print(dict1.get("math_marks",0))

{'name': 'Ripro', 'age': 4, 'address': 'Kushtia', 'number': [18, 14, 17.8]}
None
0

In [ ]:
#adding a value
print(dict1)
dict1["math_marks"]=90
print(dict1)
dict1.update({"science_marks":80})
print(dict1)

{'name': 'Ripro', 'age': 4, 'address': 'Kushtia', 'number': [18, 14, 17.8]}
{'name': 'Ripro', 'age': 4, 'address': 'Kushtia', 'number': [18, 14, 17.8], 'math_marks': 90}
{'name': 'Ripro', 'age': 4, 'address': 'Kushtia', 'number': [18, 14, 17.8], 'math_marks': 90, 'science_marks': 80}

In [ ]:
#deleting a value
del dict1["math_marks"]
print(dict1)

{'name': 'Ripro', 'age': 4, 'address': 'Kushtia', 'number': [18, 14, 17.8], 'science_marks': 80}

In [ ]:
#copy
dict2=dict1.copy()
print(dict2)

{'name': 'Ripro', 'age': 4, 'address': 'Kushtia', 'number': [18, 14, 17.8], 'science_marks': 80}

**View Methods**

In [ ]:
print(dict1)

keys=dict1.keys()
print(keys)
dict1["math_marks"]=90
print(keys)


values=dict1.values()
print(values)
dict1["math_marks"]=100
print(values)

items=dict1.items() #key value pair as tuple
print(items)

{'name': 'Ripro', 'age': 4, 'address': 'Kushtia', 'number': [18, 14, 17.8], 'science_marks': 80, 'math_marks': 100}
dict_keys(['name', 'age', 'address', 'number', 'science_marks', 'math_marks'])
dict_keys(['name', 'age', 'address', 'number', 'science_marks', 'math_marks'])
dict_values(['Ripro', 4, 'Kushtia', [18, 14, 17.8], 80, 90])
dict_values(['Ripro', 4, 'Kushtia', [18, 14, 17.8], 80, 100])
dict_items([('name', 'Ripro'), ('age', 4), ('address', 'Kushtia'), ('number', [18, 14, 17.8]), ('science_marks', 80), ('math_marks', 100)])

In [ ]:
#iteration
for key ,value in dict1.items():
  print(key,value)

name Ripro
age 4
address Kushtia
number [18, 14, 17.8]
science_marks 80
math_marks 100

**dictionary comprehension**

{key : value iterable condition}

In [ ]:
sqr={x:x**2 for x in range (1,11) if x%2==0}
print (sqr)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [ ]:
Co_ordinates = [(10,10.5),(20.5,192) , ( 101,102) ]
Locations =["dhaka" , "chattogram" , "sylhet"]
exct_loc={co_or : loc for co_or , loc in zip(Co_ordinates,Locations)}
print(exct_loc)

{(10, 10.5): 'dhaka', (20.5, 192): 'chattogram', (101, 102): 'sylhet'}

#Problem Solving with In Built Structures

1. Given a list of numbers, make a list with unique values.

In [ ]:
lst = [10 , 20 , 10 , 30 , 30 , 50 , 30 , 10 , 20 , 10 , 10 ]
unique_lst=list(set(lst))
print(unique_lst)

[10, 20, 50, 30]

2. Given a string , print the frequency of the words

In [ ]:

string = """data science machine learning data analysis machine
learning statistics data models data training data validation features
features labels preprocessing data augmentation models data optimization
gradient descent neural networks data tensors matrices visualization
exploration pandas numpy matplotlib seaborn scikitlearn tensorflow pytorch
deployment inference production monitoring reproducibility experiments results
metrics accuracy precision recall f1 cross validation data machine
"""
word=string.split()
count={}
for w in word:
  count[w]=count.get(w,0)+1
print(count)

for k,v in count.items():
  print(f"count of {k} is {v}")

{'data': 9, 'science': 1, 'machine': 3, 'learning': 2, 'analysis': 1, 'statistics': 1, 'models': 2, 'training': 1, 'validation': 2, 'features': 2, 'labels': 1, 'preprocessing': 1, 'augmentation': 1, 'optimization': 1, 'gradient': 1, 'descent': 1, 'neural': 1, 'networks': 1, 'tensors': 1, 'matrices': 1, 'visualization': 1, 'exploration': 1, 'pandas': 1, 'numpy': 1, 'matplotlib': 1, 'seaborn': 1, 'scikitlearn': 1, 'tensorflow': 1, 'pytorch': 1, 'deployment': 1, 'inference': 1, 'production': 1, 'monitoring': 1, 'reproducibility': 1, 'experiments': 1, 'results': 1, 'metrics': 1, 'accuracy': 1, 'precision': 1, 'recall': 1, 'f1': 1, 'cross': 1}
count of data is 9
count of science is 1
count of machine is 3
count of learning is 2
count of analysis is 1
count of statistics is 1
count of models is 2
count of training is 1
count of validation is 2
count of features is 2
count of labels is 1
count of preprocessing is 1
count of augmentation is 1
count of optimization is 1
count of gradient is 1
count of descent is 1
count of neural is 1
count of networks is 1
count of tensors is 1
count of matrices is 1
count of visualization is 1
count of exploration is 1
count of pandas is 1
count of numpy is 1
count of matplotlib is 1
count of seaborn is 1
count of scikitlearn is 1
count of tensorflow is 1
count of pytorch is 1
count of deployment is 1
count of inference is 1
count of production is 1
count of monitoring is 1
count of reproducibility is 1
count of experiments is 1
count of results is 1
count of metrics is 1
count of accuracy is 1
count of precision is 1
count of recall is 1
count of f1 is 1
count of cross is 1

#Practice

https://codeforces.com/group/MWSDmqGsZm/contest/219856/problem/J

In [ ]:
s=input().strip()
count={}
for w in s:
  count[w]=count.get(w,0)+1

for k,v in sorted(count.items()):
  print(f"{k} : {v}")

regff
e : 1
f : 2
g : 1
r : 1

https://www.hackerrank.com/challenges/no-idea/problem

In [ ]:
n,m=map(int,input().split())
arr=list(map(int,input().split()))
a=set(map(int,input().split()))
b=set(map(int,input().split()))

hp=0
for i in arr:
  if i in a:
    hp+=1
  elif i in b:
    hp-=1
print(hp)

https://www.hackerrank.com/challenges/python-tuples/problem

In [ ]:
n=int(input())
arr= list(map(int,input().split()))
t=tuple(arr)
print(hash(t))