#String

**String** --> is a sequence of character

It is Immutable. It can't be changed

In [102]:
prompt ="What is your name?"
print(prompt)
print(type(prompt))

What is your name?
<class 'str'>

In [103]:
message="""tell me about yourself?
what are the issues you have been facing  while learning code ?
hoe are you tackling them?
"""
print (message)

tell me about yourself?
what are the issues you have been facing  while learning code ?
hoe are you tackling them?

#Indexing and slicing

String[start:end:step]

In [104]:
string="hello world"
print(string[7])

o

In [105]:
first_messege=message[:24]
print(first_messege)

tell me about yourself?

In [106]:
second_messege=message[:24:2]
print(second_messege)

tl eaotyusl?

In [107]:
print(first_messege[-5:-1])

elf?

# String Methods

https://www.w3schools.com/python/python_ref_string.asp

In [108]:
string="welcome to phitron ML course,Hello ML , Hi ML"
print(string)

#make lower all
proccessed_string= string.lower()
print(proccessed_string)


#length
print(len(string))

#find
print("to" in proccessed_string)

#make upper first letter
string=string.capitalize()
print(string)

welcome to phitron ML course,Hello ML , Hi ML
welcome to phitron ml course,hello ml , hi ml
45
True
Welcome to phitron ml course,hello ml , hi ml

In [109]:
#Find first index string
F_index=proccessed_string.find("ml")
print(F_index)

#Find last index string
L_index=proccessed_string.rfind("ml")
print(L_index)

19
43

In [110]:
#count substring
cnt=proccessed_string.count("ml")
print(cnt)

3

In [111]:
#replace a substring
new_stirng=string.replace("ml","AI/ML")
print(new_stirng)

Welcome to phitron AI/ML course,hello AI/ML , hi AI/ML

# Splitting , Joining , Formatting

split--> sentece k vaag kre

In [112]:

prmpt="What is Phitron ?"
tokens=prmpt.split()
print(tokens)

['What', 'is', 'Phitron', '?']

In [113]:
prmpt2="What,is,Phitron-?"
token=prmpt2.split(",")
print(token)

['What', 'is', 'Phitron-?']

join--> tokens gulo  k jog kre akta sentence a porinoto kore

In [114]:
sentence="-".join(tokens)
print (sentence)

What-is-Phitron-?

formatting--> string k user er requirment onujayi sajai

In [115]:
name="rizvi"
age=23
height=5.45490448
print(f"His nam is {name.capitalize()}. He is {age} years old . He is {height:.2} feet tall/n")

His nam is Rizvi. He is 23 years old . He is 5.5 feet tall/n

#List

**List**--> store the collection of data.

It is Mutable. It can be changed

https://www.w3schools.com/python/python_ref_list.asp

In [116]:
numbers=[100,20,30,50,40]
float_numbers=[10.5,6.4,7.9,45.6]
fruits=["apple","banana","lichi"]
mixed_val=[100,10.5,"banana"]
print(type(numbers))
print(type(float_numbers[0]))
print(type(fruits[0]))
print(mixed_val)
print(type(mixed_val[0]))

list_in_list=[numbers,float_numbers,fruits,mixed_val]
print(list_in_list)

<class 'list'>
<class 'float'>
<class 'str'>
[100, 10.5, 'banana']
<class 'int'>
[[100, 20, 30, 50, 40], [10.5, 6.4, 7.9, 45.6], ['apple', 'banana', 'lichi'], [100, 10.5, 'banana']]

#List Method

In [117]:
#access
print(numbers[2])
numbers[2]=90
print(numbers[2])

30
90

In [118]:
#slicing
new_list=numbers [:4]
print(new_list)

[100, 20, 90, 50]

In [119]:
#modification

#adding a item
numbers.append(80) # last a add kore
print(numbers)

numbers.insert(1,60) # specific position a add kore
print(numbers)


#delete a item
numbers.pop() # last a delete kore
print(numbers)

numbers.remove(100) # specific items delete kore
print (numbers)

[100, 20, 90, 50, 40, 80]
[100, 60, 20, 90, 50, 40, 80]
[100, 60, 20, 90, 50, 40]
[60, 20, 90, 50, 40]

In [120]:
#ascending
numbers.sort()
print(numbers)

[20, 40, 50, 60, 90]

In [121]:
#descending
numbers.sort(reverse=True)
print(numbers)

[90, 60, 50, 40, 20]

# List as Stack

In [122]:
stack=[]
print(len(stack))
print(type(stack))

#stack push
stack.append(1)
stack.append(2)
stack.append(3)
stack.append(4)
stack.append(5)
print(stack)

#getting top element
print(stack.pop())
print(stack.pop())
print(stack.pop())

0
<class 'list'>
[1, 2, 3, 4, 5]
5
4
3

# List as Qeue

In [123]:
queue=[]
#queue push
queue.append(1)
queue.append(2)
queue.append(3)
queue.append(4)
queue.append(5)
print(queue)

#remove
print(queue.pop(0))

# accessing front element

print(f"front element {queue[0]}")

[1, 2, 3, 4, 5]
1
front element 2

#List Comprehension

[expression for i in range() condition]

In [124]:
even=[]
for i in range(100):
  if i%2==0:
    even.append(i)
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [125]:
odd=[i for i in range(100) if i%2!=0 ]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [126]:
lst=[i*2 for i in range(100) if i%2==0]
print(lst)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196]

In [127]:
fruits
capitalize_fruits=[fruits.capitalize() for fruits in fruits]
print(capitalize_fruits)

['Apple', 'Banana', 'Lichi']

#E. Lowest Number

In [128]:
n=int(input())
a=list(map(int,input().split()))
mn=a[0]
pos=1

for i in range(1,n):
  if a[i]<mn:
    mn=a[i]
    pos=i+1
print(mn,pos)

3
1 2 3

TypeError: 'list' object is not callable

#M. Replace MinMax

In [129]:
n = int(input())
a = list(map(int, input().split()))
min_index = 0
max_index = 0

for i in range(1, n):
     if a[i] < a[min_index]:
         min_index = i
     if a[i] > a[max_index]:
         max_index = i

# Swap min and max
a[min_index], a[max_index] = a[max_index], a[min_index]
print(*a)

5
4 1 3 10 8

TypeError: 'list' object is not callable

#K. Sum Digits

In [130]:
n=int(input())
a = input().strip()
tot=0
for i in a:
  tot+=int(i)
print(tot)

2
13
4

#H. Good or Bad

In [131]:
t= int(input())
for _ in range(t):
    s = input().strip()
    if "010" in s or "101" in s:
        print("Good")
    else:
        print("Bad")

2
11111110
Bad
10101010101010
Good

#V. Replace Word

In [132]:
s=input()
res=s.replace("EGYPT"," ")
print (res)

BRITISHEGYPTGHANA
BRITISH GHANA